n8n-workflows-lead-capture.json
{
  "name": "Lead Capture & Qualification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"score\"]}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "name": "High Quality Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@angelvolkers.cl",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Gracias por tu interés",
        "text": "Hola {{$json[\"name\"]}},\n\nGracias por contactarnos. Un agente se pondrá en contacto contigo pronto.\n\nSaludos,\nEquipo Angel & Völkers"
      },
      "name": "Send Email to Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@angelvolkers.cl",
        "toEmail": "agentes@angelvolkers.cl",
        "subject": "🔥 Lead de Alta Calidad",
        "text": "Nuevo lead de alta calidad:\n\nNombre: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nTeléfono: {{$json[\"phone\"]}}\nMensaje: {{$json[\"message\"]}}\nScore: {{$json[\"score\"]}}\n\nContactar inmediatamente."
      },
      "name": "Notify Agent - High Priority",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "fromEmail": "noreply@angelvolkers.cl",
        "toEmail": "agentes@angelvolkers.cl",
        "subject": "Nuevo Lead",
        "text": "Nuevo lead:\n\nNombre: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nScore: {{$json[\"score\"]}}"
      },
      "name": "Notify Agent - Normal",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Lead processed\"}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "High Quality Lead?", "type": "main", "index": 0}]]
    },
    "High Quality Lead?": {
      "main": [
        [
          {"node": "Send Email to Lead", "type": "main", "index": 0},
          {"node": "Notify Agent - High Priority", "type": "main", "index": 0}
        ],
        [{"node": "Notify Agent - Normal", "type": "main", "index": 0}]
      ]
    },
    "Send Email to Lead": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Notify Agent - High Priority": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "Notify Agent - Normal": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  }
}
