n8n-workflows/chatwoot-ai.json
{
  "name": "Chatwoot AI Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-message",
        "responseMode": "responseNode"
      },
      "name": "Webhook - Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente virtual de Angel & Völkers, una inmobiliaria premium en Chile. Tu trabajo es ayudar a los clientes con información sobre propiedades, agendar visitas y responder preguntas. Sé amable, profesional y conciso."
            },
            {
              "role": "user",
              "content": "={{$json[\"message\"]}}"
            }
          ]
        }
      },
      "name": "OpenAI - Generate Response",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"].toLowerCase()}}",
              "operation": "contains",
              "value2": "visita"
            }
          ]
        }
      },
      "name": "Is Visit Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$json[\"conversationId\"]}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$node[\"OpenAI - Generate Response\"].json[\"choices\"][0][\"message\"][\"content\"]}}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        }
      },
      "name": "Send to Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{$env.CHATWOOT_URL}}/api/v1/accounts/{{$env.CHATWOOT_ACCOUNT_ID}}/conversations/{{$json[\"conversationId\"]}}/assignments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assignee_id",
              "value": "1"
            }
          ]
        }
      },
      "name": "Assign to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Chatwoot": {
      "main": [[{"node": "OpenAI - Generate Response", "type": "main", "index": 0}]]
    },
    "OpenAI - Generate Response": {
      "main": [[{"node": "Is Visit Request?", "type": "main", "index": 0}]]
    },
    "Is Visit Request?": {
      "main": [
        [
          {"node": "Send to Chatwoot", "type": "main", "index": 0},
          {"node": "Assign to Agent", "type": "main", "index": 0}
        ],
        [{"node": "Send to Chatwoot", "type": "main", "index": 0}]
      ]
    },
    "Send to Chatwoot": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Assign to Agent": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  }
}
