n8n-workflows/chatbot-rag.json
{
  "name": "Chatbot Inmobiliario RAG",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chatwoot",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description, price, currency, city, region, bedrooms, bathrooms, area, images FROM \"Property\" WHERE status = 'available' ORDER BY \"createdAt\" DESC LIMIT 20"
      },
      "id": "postgres-properties",
      "name": "Obtener Propiedades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL Angel Volkers"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente inmobiliario experto de Angel & Völkers Chile. Tu trabajo es ayudar a los clientes a encontrar propiedades.\n\nCONTEXTO DE PROPIEDADES DISPONIBLES:\n{{ $json.properties }}\n\nResponde de forma amigable, profesional y en español chileno. Si el cliente pregunta por una propiedad específica, usa la información del contexto. Si no hay propiedades que coincidan, ofrece alternativas similares."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openai-rag",
      "name": "OpenAI RAG",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.CHATWOOT_URL }}/api/v1/accounts/{{ $env.CHATWOOT_ACCOUNT_ID }}/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.response }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwoot-send",
      "name": "Enviar a Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "Chatwoot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Respuesta enviada' } }}"
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Obtener Propiedades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Propiedades": {
      "main": [
        [
          {
            "node": "OpenAI RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI RAG": {
      "main": [
        [
          {
            "node": "Enviar a Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Chatwoot": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "chatbot-rag-inmobiliario"
}
