n8n-workflows/tool-buscar-propiedades.json
{
  "name": "Tool - Buscar Propiedades",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [400, 300],
      "id": "trigger",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, title, type, operation, price, city, bedrooms, bathrooms, area, images\nFROM \"Property\"\nWHERE status = 'available'\n{{ $json.tipo ? `AND type = '${$json.tipo}'` : '' }}\n{{ $json.operacion ? `AND operation = '${$json.operacion}'` : '' }}\n{{ $json.ciudad ? `AND city ILIKE '%${$json.ciudad}%'` : '' }}\n{{ $json.precio_min ? `AND price >= ${$json.precio_min}` : '' }}\n{{ $json.precio_max ? `AND price <= ${$json.precio_max}` : '' }}\n{{ $json.habitaciones ? `AND bedrooms >= ${$json.habitaciones}` : '' }}\nORDER BY \"createdAt\" DESC\nLIMIT 5",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [600, 300],
      "id": "postgres-query",
      "name": "Buscar en DB",
      "credentials": {
        "postgres": {
          "id": "postgres-angel-volkers",
          "name": "PostgreSQL Angel Volkers"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "propiedades",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "2",
              "name": "total",
              "value": "={{ $json.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 300],
      "id": "formatear",
      "name": "Formatear Resultado"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Buscar en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en DB": {
      "main": [
        [
          {
            "node": "Formatear Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "tool-buscar-propiedades"
  },
  "tags": []
}
